<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.repository.ReplyMapper">
    <select id="getReplyById" parameterType="Long" resultType="org.example.domain.Reply">
        SELECT ReplyId,ReplyContent,ReplyDate,ReplyLike,Board_BoardId,User_UserId
        FROM reply
        WHERE ReplyId = #{ReplyId}
    </select>

    <insert id="create" parameterType="org.example.domain.Reply">
        INSERT INTO reply
            (ReplyContent,ReplyDate,ReplyLike,Board_BoardId,User_UserId)
        VALUES (#{ReplyContent},#{ReplyDate},#{ReplyLike},#{Board_BoardId},#{User_UserId});
    </insert>

    <update id="update" parameterType="org.example.domain.Reply">
        UPDATE reply
        SET ReplyContent = #{ReplyContent},
            ReplyDate = #{ReplyDate},
            ReplyLike = #{ReplyLike},
            Board_BoardId = #{Board_BoardId},
            User_UserId = #{User_UserId}
        WHERE ReplyId = #{ReplyId}
    </update>

    <delete id="delete" parameterType="Long">
        DELETE FROM reply
        WHERE ReplyId = #{ReplyId}
    </delete>

</mapper>
